:root {
    --main:#aa6504;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #aa6504;
}
::-webkit-scrollbar-track{
    background: #000;
}
*::selection {
    background: var(--main);
    color: #000;
}
.btn{
    width: 350px;
    border: 3px solid var(--main);
    color: var(--main) !important;
    border-radius: 10px;
    font-weight: bolder;
    flex-wrap: wrap;
    
}
.btn:hover{
    background: var(--main);
    color: #fff !important;
    letter-spacing: 4px;
    transition: 0.2s linear;
    animation: hover 1s infinite alternate ease-in-out;
}
@keyframes hover {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.15, 1.15);
    }
}

body{
    background: #222;
    color: #fff;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.5s linear;
    box-sizing: border-box;
}


/* navbar start */
.navbar{
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;  
    background: #000;
    flex-wrap: wrap;
    opacity: 85%;
}
.navbar.scroll{
    background: #000;
    padding: 5px;
}
.navbar-brand{
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff !important;
    display: flex;
    background: #3f3c3c;
    border-radius: 12px;
    padding: 2px 15px;
    flex-wrap: wrap;
}
.navbar-brand img{
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.navbar-brand span{
    color: var(--main);
}
.navbar-nav{
    padding: 20px auto;
    margin-top: 10px;
}
.nav-link{
    color: #fff !important;
    margin-left: 10px;
    border-radius: 10px;
}
.nav-link:hover, .nav-link.active{
    background: var(--main);
}
/*  */
.navbar-nav{
    display: flex;
    align-items: center;
    background: #3f3c3c;
    padding: 15px 10px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .navbar-nav li{
    list-style: none;
    margin: 0 12px;
  }
  .navbar-nav li a{
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .navbar-nav li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background: #939388;
    border-radius: 12px;
    transition: all 0.4s ease;
  }
  .navbar-nav li a:hover:before{
    width: 100%;
  }
  .navbar-nav li.nav-item a:before{
    left: 50%;
    transform: translateX(-50%);
  }
/* navbar end */


/* home section start */
.Home{
    position: relative;
}
.Home video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    
}
.VidOverlay, .secondHeaderOverlay, .AboutHome .ImgOverlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.4;
    
}
.VidContent{
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%,-50%);
    background: #222121;
    padding: 20px 30px;
    text-align: center;
    border-radius: 25px;
    flex-wrap: wrap;
}
.VidContent h6{
    font-size: 60px;
    
}
.VidContent h6 span{
    /* color: var(--main); */
    font-weight: 600;
    background: #aa6504;
    border-radius: 15px;
    padding: 2px 10px;
}
.VidContent h6 span:hover{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
/* home section end */

/* start coffee start fresh */
.startFresh{
    margin: 150px auto;
    position: relative;
}
.startFresh .animateimg{
    position: absolute;
    animation: MoveLeftRight 8s infinite;
    padding: -10px 100px;
}
.startFresh h6{
    font-size: 70px;
    margin-top: 40px;
}
.startFresh h6 span{
    color: var(--main);
    font-weight: 600;
}
@keyframes MoveLeftRight {
    0%{
        right: 0;
    }
    25%{
        right: 20%;
    }
    50%{
        right: 0;
    }
    75%{
        right: 20%;
    }
    100%{
        right: 0;
    }
}
/* start coffee start fresh */

/* second header start */
.secondHeader{
    position: relative;
    margin-bottom: 150px;
}
.secondHeader img{
    width: 100%;
    height: 70vh;
    transform: rotate(-180deg);
    object-fit: cover;
}
.secondHeaderOverlay{
    opacity: 0.6;
}
.secondHeaderContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 0 180px 0 0;
    /* background: var(--main); */

}
.secondHeaderContent h6{
    font-size: 60px;
}
/* second header end */

/* product section start */
.products{
    margin-bottom: 150px;
}
.products .box{
    padding: 12px;
    border-radius: 20px;
    background: #3d3939;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.7), inset 10px 10px 10px -10px rgba(0,0,0,0.7);

}
.products .boxContent{
    padding: 20px;
}
.products .boxContent h5{
    color: #00e1ff;
    font-size: 20px;
}
.products .boxContent h6{
    font-size: 30px;
}
.products .boxContent p{
    font-size: 15px;
}
.products .secondRow{
    margin-top: 50px;
    flex-wrap: wrap;
}
/* product section end */

/* footer start */
footer{
    position: relative;
    margin-top: -1px;
    background: #2b293b;
    text-align: center;
    padding: 5rem;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 3em;
    opacity: 20%;
    
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
    font-size: 20px;
}

.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover{
    color: var(--main);
    text-decoration: none;
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}

.icon-wrapper i:hover{
    color: var(--main);
}


/* footer end */


/* =================================================
                 About page start
================================================ */
.aboutPage .AboutHome{
    position: relative;
}
.aboutPage .AboutHome img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
/*     transform: rotate(-180deg); */
    transform: scaleX(-1);
}
.aboutPage .ProductHome img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}
.aboutPage .ImgOverlay{
    opacity: 0.3;
}
/* <!-- about home section start -->*/
.aboutPage .about{
    margin: 150px auto;
}
.aboutPage .about img{
    height: 500px;
    width: 100%;
}
.aboutPage .about .content{
    margin-top: 15px;
}
.aboutPage .about .content h6{
    font-size: 50px;
    font-weight: 600;
}
.aboutPage .about .content h6 span{
    color: var(--main);
}
 /*   <!-- about home section end --> */
/* =================================================
                 About page end
================================================ */

/* =================================================
                 Products page start
================================================ */
.productsPagemain{
    margin: 80px auto;
}
/* =================================================
                 Products page end
================================================ */

/* =================================================
                 Contact page start
================================================ */
.ContactPage .contact{
    margin: 150px auto;
}
.ContactPage .contact h6{
    text-align: center;
    font-size: 60px;
}
.ContactPage .contact form{
    box-shadow: 20px 20px 20px -20px rgba(0,0,0,0.7), inset 20px 20px 20px -20px rgba(0,0,0,0.9);
    padding: 20px;

}
.ContactPage .contact textarea{
    resize: none;
}
/* =================================================
                 Contact page end
================================================ */

/* =================================================
                 main product page start
================================================ */
.mainBuyProducts{
    margin: 180px auto;
}
.mainBuyProducts img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}.mainBuyProducts .col-sm-5 .boxContent{
    padding: 20px;
}
.mainBuyProducts .boxContent h5{
    color: #00e1ff;
    font-size: 20px;
}
.mainBuyProducts .boxContent h6{
    font-size: 30px;
}
.mainBuyProducts .boxContent p{
    font-size: 15px;
}

/* 
login popup */
.modayBody {
    background: #222;
}

.modayBody h6{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;

}

.modayBody input {
    background: none !important;
    border-radius: 10px;
}

.modayBody input::placeholder{
    color: #fff;
}

.modayBody .btn{
    margin-bottom: 15px;
}
/* =================================================
                 Main product page end
================================================ */





/* Dropdown Button */
.dropbtn {
    background-color: #3c3c3c;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-right: 8px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    display: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3c3c3c;
    min-width: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    z-index: 1;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ff5e00;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ff5e00;}







@media only screen and (max-width: 600px){
.dropdown{
    display: inline-block;
}
.startFresh{
    display: none;
}

body{
    width: 100%;
}
.btn{
    width: 100%;
    font-size: 12px;
    padding: 4px;
}
.navbar{
    width: 100%;
    position: relative;
}
.navbar-nav{
    padding: 8px 2px 8px 2px;
    display: none;
}
.nav-link{
    margin-left: 1px;
}
.navbar-nav li{
    margin: 0 2px;
    
}
.navbar-nav li a {
    font-size: 9px;
    margin: 1px;
    padding: 4px;
}
.navbar-brand{
    width: 25%;
    margin: 0;
    font-size: 14px;
    padding-left: 5px;
}
.navbar-brand .image{
    display: none;
}
.VidContent {
    top: 70%;
    left: 40%;
}
.VidContent h6{
    font-size: 22px;
}
.startFresh .animateimg{
    width: 150%;
    left: -20%;
    top: 20%;
}
.startFresh h6{
    font-size: 20px;
    padding-left: 180px;
}
.secondHeaderContent h6{
    font-size: 20px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: #222;
}
.secondHeaderContent h6:hover{
    border: 3px solid #222;
    background-color: red;
    transition: 1s linear;
    animation: hover 2s infinite alternate ease-in-out;
}

.aboutPage .about img{
    width: 100%;
    height: auto;
}
.aboutPage .about .content h6{
    font-size: 25px;
}
.aboutPage .about .content p{
    font-size: 10px;
}
.products .boxContent{
    padding: 3px 6px 3px 6px;
}
.products .boxContent h6{
    font-size: 22px;
    text-align: center;
}
.products .boxContent h5{
    font-size: 17px;
    text-align: center;
}
.products .boxContent p{
    font-size: 12px;
}





}
  
  @media only screen and (max-width: 768px) and (min-width: 601px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}



    body{
        width: 100%;
    }
    .btn{
        width: 100%;
        font-size: 12px;
        padding: 4px;
    }
    .navbar{
        width: 100%;
        position: relative;
    }
    .navbar-nav{
        padding: 8px 2px 8px 2px;

    }
    .navbar-nav li{
        margin: 0 7px;
    }
    .navbar-nav li a {
        font-size: 12px;
        padding: 1px;
    }
    .navbar-brand{
        width: 37%;
        font-size: 22px;
        padding-left: 20px;
    }
    .navbar-brand .image{
        width: 17%;
        height: auto;
    }
    .VidContent {
        top: 64%;
        left: 35%;
    }
    .VidContent h6{
        font-size: 35px;
    }
    .startFresh .animateimg{
        width: 150%;
        left: -20%;
        top: 20%;
    }
    .startFresh h6{
        font-size: 48px;
    }
    .secondHeaderContent h6{
        font-size: 40px;
    }
    .aboutPage .about img{
        width: 100%;
        height: auto;
    }
    .aboutPage .about .content h6{
        font-size: 25px;
    }
    .aboutPage .about .content p{
        font-size: 10px;
    }
    .products .boxContent{
        padding: 3px 6px 3px 6px;
    }
    .products .boxContent h6{
        font-size: 19px;
    }
    .products .boxContent h5{
        font-size: 15px;
    }
    .products .boxContent p{
        font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 992px) and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .btn{
        width: 100%;
        font-size: 15px;
        padding: 4px;
    }
    .navbar{
        width: 100%;
        position: relative;
    }
    .navbar-nav li a {
        font-size: 14px;
    }
    .navbar-brand{
        font-size: 30px;
        padding-top: 5px;
    }
    .VidContent {
        top: 65%;
        left: 25%;
    }
    .VidContent h6{
        font-size: 45px;
    }
    .startFresh .animateimg{
        width: 150%;
        left: -20%;
        top: 20%;
    }
    .startFresh h6{
        font-size: 55px;
    }
    .secondHeaderContent h6{
        font-size: 55px;
    }
    .aboutPage .about img{
        height: 360px;
    }
    .aboutPage .about .content h6{
        font-size: 35px;
    }
    .aboutPage .about .content p{
        font-size: 12px;
    }
    .products .boxContent{
        padding: 5px 10px 5px 10px;
    }
    .products .boxContent h6{
        font-size: 23px;
    }
    .products .boxContent h5{
        font-size: 15px;
    }
    .products .boxContent p{
        font-size: 12px;
    }
  }
  
  @media only screen and (min-width: 993px){
    .btn{
        width: 100%;
    }
    .VidContent {
        top: 75%;
        left: 25%;
    }
    .VidContent h6{
        font-size: 40px;
    }
  }
